.itemsBox {
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAICAYAAADaxo44AAAAGklEQVQImWP49OnTfxhGBgxUlEDmICuiogQASpu7mfYC9wcAAAAASUVORK5CYII=")
    repeat;
  background-size: 16px;
  box-shadow: inset -1px -1px 0px #ffffff, inset 1px 1px 0px 0px #808088,
    inset -2px -2px 0px #bbc3c4, inset 2px 2px 0px 0px #0c0c0c;
  margin: 7.1px; /* why does it need to be 7.1 to line up wtf??? */

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(52px, 1fr));
  padding: 12px;
  height: 100%;
  overflow-y: scroll;
}

.icon.ExplorerIcon:focus .icon__icon,
.icon.ExplorerIcon:active .icon__icon,
.icon.ExplorerIcon:active:focus .icon__icon,
.icon.ExplorerIcon.is-active .icon__icon {
  filter: sepia(100%) saturate(374%) brightness(70%) hue-rotate(180deg)
    saturate(80%);
}

.tokenFolder {
  position: absolute;
  top: 0;
}

.itemsBoxContainer {
  position: relative;
  width: 100%;
  height: 100%;
}
