.pickAmount {
  max-width: 100vw;
}

.pickAmountInput {
  display: flex;
  align-items: center;
}

.pickAmountButtons {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 16px;
}

.pickAmountError {
  color: darkred;
  text-align: center;
}
