.clippyContainer {
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 100;
  text-align: right;
}

.speechBubble {
  background: #fbf9cc;
  border: 2px solid black;
  border-radius: 4px;
  margin: 0 auto 40px;
  max-width: 400px;
  padding: 15px;
  position: relative;
  margin-right: 64px;
  transform: translateY(72px);
}

.speechBubbleArrow {
  bottom: -25px;
  position: absolute;
  right: 15px;
}
.speechBubbleArrow::before {
  border-left: 22px solid transparent;
  border-top: 23px solid black;
  bottom: 0px;
  content: "";
  position: absolute;
  right: 5px;
}
.speechBubbleArrow::after {
  border-left: 20px solid transparent;
  border-top: 21px solid #fbf9cc;
  bottom: 5px;
  content: "";
  position: absolute;
  right: 7px;
}
