.pre {
  white-space: pre;
}

.icon.ListIcon:focus .icon__icon,
.icon.ListIcon:active .icon__icon,
.icon.ListIcon:active:focus .icon__icon,
.icon.ListIcon.is-active .icon__icon {
  filter: contrast(0.3) saturate(2) !important;
}

.contactsWindow {
  max-width: 100vw;
  width: auto;
  min-width: 0;
}

.contactsFilters label {
  width: 96px;
}

.contactsFilters .WindowAction__location .FakeSelect {
  margin: 0;
}

.contactsFilters .WindowAction__location {
  margin: 0;
  padding: 4px 0;
}

.contactsFilters input {
  flex-grow: 1;
}

.contactsContents {
  display: flex;
}

.contactsSearch {
  display: flex;
  flex-direction: column;
}
.contactSaveButtons {
  display: flex;
  justify-content: start;
  flex-direction: column;
}

.contactsSearch .SelectBox {
  padding: 2px 0;
}
