.profileIcon {
  position: relative;
  width: 48px;
}

.profileIcon::after {
  box-shadow: inset -1px -1px 0px #ffffff, inset 1px 1px 0px 0px #808088,
    inset -2px -2px 0px #bbc3c4, inset 2px 2px 0px 0px #0c0c0c;
  bottom: 0;
  content: "";
  display: block;
  left: 0;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}

.profileIcon img {
  max-width: 100%;
  width: auto;
}
