.w98.container {
  display: flex;
  flex-direction: column;
  height: calc(100% - 4px);
}

header {
  text-align: center;
}

.logo {
  width: 64px;
}

.window {
  width: calc(100% - 3px);
  flex-grow: 1;
}
