header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 64px;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.darkenbg {
  background: rgba(0, 0, 0, 0.8);
  z-index: 11; /* to appear on top of start menu */
}

.error {
  color: darkred;
  text-align: center;
}

.Frame {
  margin: -5px;
}

.appWindowContents {
  display: flex;
  flex-direction: column;
}
/* fixes weird padding at bottom */
.w98 {
  transform: none !important;
}

.TaskBar__quick-launch {
  display: none;
}

/* vaportrade instead of Windows 98 */
.TaskBar__start > button + div:after {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAABkCAMAAACB+fHfAAAAAXNSR0IB2cksfwAAAAlwSFlzAAALEwAACxMBAJqcGAAAADNQTFRFAAAA////////////////////////////////////////////////////////////////t5XiggAAABF0Uk5TAP8wSPBgwKjYGJC+pnjuXtYvUDqzAAABTUlEQVR4nK1UC67EIAgU/1rd9v6nfWJVwKabbPJIs3EWZBigVeqfDdjvPOgbGhhmZfAyt+XyACroiaJteRzPDJIInzRhbjAvb+q8hlGFnYws31WuzEZ4t5qj9Ho40Ba87ZWqs71CU1RaACVoqBPaDqlIaBctg61R3CsU3YOgBugIdsioxzR+cd7dYNfrnINIREk9eaeILKevXGxlk1yHtGWiuE1hhyjQE6xQpFfo7dSr5sMpQ+p5J7ADIMb14BUwyPl6VJMLBavVDSdbt0Hth9y1TdTTUbPYs61mA5/zPOnuLzUrfcHHsFRo9TWVkvM98cKEVgY/XrrsA9vnozmPhb/X3JcmkgRoclGzCJ7hGzRu2OAt4g2133ljWzNL36u2VxcPNiu4GvzM1bne7e8LlWuetsxvWaqDdq2KMoHz1g+VUaWecc6JMmfqamDnPxNVB7+B5c/MAAAAAElFTkSuQmCC)
      no-repeat bottom 3px center,
    linear-gradient(#0000a2, #126fc2) !important;
}
