.walletInfoContents {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  margin: 0;
}

.walletInfoWalletContents {
  flex: 1;
  min-height: 0;
  overflow-y: auto;
}

.Frame.walletInfoWindow {
  max-height: calc(100vh - 32px);

  display: flex;
  flex-direction: column;
  margin-bottom: 22px;
}

.walletInfoButton {
  margin: 4px;
}
